<h1><%= nome_application %> </h1>

<p> Bem vindo <%=@nome%> ao curso de <%= @curso %> </p>

<%# Usando formatação de data %>
<%# Essa funcao data_br é uma funcao que foi criado dentro de helpers/application_helper.rb %>
<%# <p> Data <%= data_br(Date.today) </p> %>
<%# <p> Data <%= data_br(Date.today)   </p> %>